mixin member
  .member
    .container
      .title.text-center コアメンバー紹介
      .member__content
        .owl-carousel.owl-theme.js-member
          .item
            .member__element
              img.member__image(src="../../images/img1.png", alt="")
              .member__main
          .item
            .member__element
              img.member__image(src="../../images/img2.png", alt="")
              .member__main
          .item
            .member__element
              img.member__image(src="../../images/img3.png", alt="")
              .member__main
          .item
            .member__element
              img.member__image(src="../../images/img4.png", alt="")
              .member__main
          .item
            .member__element
              img.member__image(src="../../images/img5.png", alt="")
              .member__main
          .item
            .member__element
              img.member__image(src="../../images/img6.png", alt="")
              .member__main
