mixin service
  .service
    .container
      .title.text-center サービス
      .service__content
        p.service__sub
          | 「WE CARE. WE COMMIT. WE ARE YOUR TRUE PARTNER.」
          br.service__br
          | をスローガンにお客様に寄り添ったサービスをご提供します。是非弊社にご相談ください。
        .service__main
          .row
            .col-sm-4
              .service__element
                img.service__image(src="../../images/ico-service-1.png", alt="")
                h3.service__heading
                  a.service__link(href="") ラボ型開発
                p.service__description オフショアのメリットを最大限に発揮することができます。「御社の一拠点」としてご活用ください。
            .col-sm-4
              .service__element
                img.service__image(src="../../images/ico-service-2.png", alt="")
                h3.service__heading
                  a.service__link(href="") Webシステム開発
                p.service__description オフショアのメリットを最大限に発揮することができます。「御社の一拠点」としてご活用ください。
            .col-sm-4
              .service__element
                img.service__image(src="../../images/ico-service-3.png", alt="")
                h3.service__heading
                  a.service__link(href="") スマートフォンアプリ開発
                p.service__description 年々、機能が複雑化する反面、更なるコストダウンが課題となっています。日本では難しい案件も承ります。
