mixin slide-banner
  .slide-banner#slide-banner
    .owl-carousel.owl-theme.js-slide-banner
      .item
        .slide-banner__element
          img.slide-banner__image(src="../../images/banner1.png", alt="")
      .item
        .slide-banner__element
          img.slide-banner__image(src="../../images/banner2.png", alt="")
      .item
        .slide-banner__element
          img.slide-banner__image(src="../../images/banner1.png", alt="")
