.stats {
  color: $white;
  text-align: center;
  margin-top: -5px;
  position: relative;
  z-index: 9999;
  &__col {
    padding: 0;
  }
  &__element {
    padding: 20px;
    &--name {
      background-color: $yellow;
    }
    &--project {
      background-color: $orange;
    }
    &--brse {
      background-color: $red;
    }
    &--years {
      background-color: $orange-daker;
    }
  }
  &__number {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
  }
}
