mixin intro
  .intro
    .container
      .title.text-center 紹介
      .intro__content
        .intro__video
          iframe.intro__iframe(src="https://www.youtube.com/embed/XeT2EUop7vk?ecver=2&loop=1&playlist=XeT2EUop7vk&autoplay=1&modestbranding=1&rel=0&ytp-pause-overlay=0&showinfo=0&controls=0")
